@use 'component/section';
@use 'component/container';
@use 'component/dialog';

:root {
    /* Page colours */
    --color-page-bg: hsl(240, 24%, 96%);
    --color-page-text: hsl(0, 0%, 0%);

    /* Menu colours */
    --color-menu-bg: hsl(0, 0%, 100%);
    --color-menu-bg-active: hsl(240, 6%, 83%);
    --color-menu-text: hsl(0, 0%, 0%);
    --color-menu-divider: hsl(240, 6%, 87%);
    --color-menu-caption: hsl(240, 6%, 50%);

    /* Icon colours */
    --color-icon-fg: hsl(0, 0%, 100%);
    --color-icon-bg: hsl(240, 2%, 56%);
    --color-icon-black: hsl(0, 0%, 0%);
    --color-icon-red: hsl(6, 90%, 58%);
    --color-icon-green: hsl(121, 55%, 58%);
    --color-icon-blue: hsl(219, 95%, 58%);

    /* Fonts */
    --font-body: 'Roboto', sans-serif;
    --font-heading: 'Red Hat Display', sans-serif;

    /* Borders */
    --border-radius-sm: 6px;
    --border-radius-md: 10px;
    --border-radius-lg: 16px
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Page colours */
        --color-page-bg: hsl(0, 0%, 0%);
        --color-page-text: hsl(240, 24%, 96%);

        /* Menu colours */
        --color-menu-bg: hsl(240, 6%, 14%);
        --color-menu-bg-active: hsl(240, 6%, 31%);
        --color-menu-text: hsl(240, 24%, 96%);
        --color-menu-divider: hsl(240, 6%, 22%);
        --color-menu-caption: hsl(240, 6%, 50%);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
}

html {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.15;
    position: relative;
    overflow-x: hidden!important;
}

body {
    touch-action:none;
    font-family: var(--font-body);
    background-color: var(--color-page-bg);
    color: var(--color-page-text);
    position: relative;
    overflow-x: hidden!important;
    min-height: 100dvh;
}

p {
    line-height: 1.4rem;
}

h1{
    font-family: var(--font-heading);
    font-size: 2rem;
    font-weight: 700;
}

a {
    color: var(--color-icon-blue);
    text-decoration: none;
    
    &:visited {
        color: var(--color-icon-blue);
    }
}

nav {

    ul {
        display: flex;
        flex-direction: column;
        color: var(--color-menu-text);
        font-size: 1.125rem;
        margin-bottom: 2rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    
        li {
            display: flex;
            border-top: 0.5px solid var(--color-menu-divider);
            background-color: var(--color-menu-bg);
    
            &::marker {
                content: '';
            }
    
            &:first-child {
                border-top: none;
                border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
            }
    
            &:last-child{
                border-radius: 0 0 var(--border-radius-md) var(--border-radius-md);

                a::before {
                    display: none;
                }
            }

            &:only-child {
                border-radius: var(--border-radius-md);
            }
    
            a {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                padding: 0.4rem 1rem;
                text-decoration: none;
                color: inherit;
                transition: all ease-in-out 2s;

                &:visited {
                    color: inherit;
                }

                &:focus-visible {
                    z-index: 2;
                }
    
                i {
                    background-color: var(--color-page-text);
                    font-size: 0.95em;
                    color: var(--color-icon-fg);
                    padding: 0.4rem;
                    border-radius: 6px;
                    margin-right: 0.85rem;
                    min-width: 1.85rem;
                    width: 1.85rem;
                    max-width: 1.85rem;
                    display: flex!important;
                    justify-content: center;
                }

                &::before {
                    content: '';
                    position: absolute;
                    bottom: -1px;
                    left: 0;
                    height: 1px;
                    width: calc(1rem + 29.9px + 0.85rem + 0.05rem); // anchor left padding + icon width + right margin + font leading space
                    background-color: var(--color-menu-bg);
                    z-index: 3;
                }

                &::after {
                    content: '\f054';
                    font-family: 'Font Awesome 6 Pro';
                    position: absolute;
                    right: 1rem;
                    font-size: 0.85rem;
                    color: var(--color-icon-bg);
                }
            }
            
            &:active {
                background-color: var(--color-menu-bg-active);
            }
        }
    
        .fa-key {
            background-color: var(--color-icon-bg);
        }
    
        .fa-lock-open {
            background-color: var(--color-icon-blue);
        }
    
        .fa-headset {
            background-color: var(--color-icon-red);
        }
    
        .fa-phone {
            background-color: var(--color-icon-green);
        }

        .fa-plug-circle-xmark {
            background-color: var(--color-icon-black);
            box-shadow: inset 0px 0px 0px 0.5px var(--color-icon-bg);
        }
    }
}

.nav-ul-caption {
    font-size: 0.8rem;
    line-height: 0.95rem;
    color: var(--color-menu-caption);
    margin-top: 0.4rem;
    margin-left: 1.05rem;
    margin-right: 0.6rem;
    
    &-pre {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
    }
}

.header-span {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
    background-color: var(--color-menu-bg);
    border-radius: var(--border-radius-md);

    & > img {
        margin-right: 1rem;
    }

    & > div {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        p {
            font-size: 0.95rem;
            line-height: 0.95rem;
            margin-top: 0.25rem;
            color: var(--color-menu-caption);
        }
    }

    .fa-circle-info {
        font-size: 1.5rem;
        color: var(--color-icon-blue);
    }
}

footer {
    font-size: 0.9rem;

    img {
        margin: 1rem auto 0 auto;
        filter: opacity(0.35) grayscale(0.85);
    }
}